form {
  padding: 0 200px 100px 200px;
}

.componentDivider {
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  margin-bottom: 30px;
}

.addBook {
  color: #918f8f;
  margin-bottom: 30px;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
}

.inputs {
  width: 25%;
}

.addBookBtn {
  border: none;
  background: #0290ff;
  font-family: 'Roboto Slab', serif;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  width: 230px;
  height: 55px;
  border-radius: 3px;
}

.addBookBtn:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  form {
    padding: 20px 20px 80px 20px;
  }

  .addBook {
    text-align: center;
    font-size: 1.3rem;
  }

  .inputsContainer {
    flex-direction: column;
    align-items: center;
  }

  .inputs {
    width: 100%;
  }

  .addBookBtn {
    margin-top: 25px;
  }
}
