* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: auto;
}

.App {
  width: 90%;
  margin: auto;
  border-radius: 4px;
  margin-top: 10%;
}

.main-container {
  height: 120vh;
}
